# Node dependencies
node_modules

# Nuxt dev/build outputs
.nuxt
.output
.nitro
.data
storage/
.cache
dist

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Misc
.DS_Store
.fleet
.idea
